.experience{
  margin-top: 32px;
  padding: 16px;
  &-title{
    font-family: $font_title;
    font-size: 40px;
    color: $call_to_action;
    margin: 0;
    text-align: center;
    background-color: $white;
    width: 286px;
    padding: 16px;
    border-radius: 10px;
  }
  &-devfy,&-broker,&-tuvalca{
    margin-top: 20px;
    .logo-devfy{
      width: 110px;
      height: auto;
    }
    &_bio{
      margin: 8px;
      color: $white;
      font-size: 20px;
      .bold{
        font-weight: bold;
      }
    }
    &_mockup{
     width: 320px;
     display: block;
     margin: 0 auto; 
    }
  }
  &-tuvalca_mockup_content{  
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    //justify-content: center;
    align-items: center;
    align-content: center;
    height: 1004px;
    gap: 8px;
    &_1,&_3,&_5{
      width: 110px;
    }
    &_2,&_4,&_6{
      width: 210px;
    }
  }
}

@media (min-width: 720px) {
  .experience{
    padding: 16px 32px 16px 32px;
    &-tuvalca{
      &_mockup_content{
        height: 510px;
        &_1{
          order: 1;
        }
        &_2{
          order: 3;
        }
        &_3{
          order: 2;
        }
        &_4{
          order: 4;
        }
        &_5{
          order: 5;
        }
        &_6{
          order: 6;
        }
      }
    }
  }
}
@media (min-width: 910px) {
  .experience{
    padding: 16px 64px 16px 64px;
  }
}